@model AMS.Models.CustomModels.EstimationInfoForMemo
<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Approver List</b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered" id="TableAprroverList">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th scope="col">Approver</th>
                        <th scope="col">Approver Type</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="tApproverListbody" style="text-align:left">
                    <tr>
                        <td>&nbsp;</td>
                        <td class="text-left">@Model.CreateorFullName</td>
                        <td class="text-left">Creator</td>
                        <td class="text-left"><span style='padding:2px 10px 2px 10px;border-radius: 25px;border: 2px solid gray;background-color:gray;color:white'>Created</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Approver Feedback List</b></div>
    <div class="card-body">

        <div class="container-fluid">
            <span id="app_err-container"></span>
            <div class="table-responsive">
                <table class="table table-sm table-hover table-bordered" id="TableAprroverFeedBackList">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th scope="col">Approver</th>
                            <th scope="col">Status</th>
                            <th scope="col">Feedback Date</th>
                            <th scope="col">Feedback</th>
                        </tr>
                    </thead>
                    <tbody id="tApproverRemarksbody" style="text-align:left">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>