<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Approver Remarks</b></div>
    <div class="card-body">
    <div class="form-group row">
        <label for="approved_remarks" class="col-sm-1 col-form-label-sm">Remarks</label>
        <div class="col-sm-11">
            <textarea class="form-control" id="approved_remarks" aria-label="With textarea"></textarea>
        </div>
    </div>
    </div>
</div>