<div class="card border-secondary mb-4">
    <div class="card-header hideShow"><b>Department Wise Running Summary</b></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-left" scope="col">Departments</th>
                        <th class="text-right" scope="col">Total Allowed Budget (TK.)</th>
                        <th class="text-right" scope="col">Total Cost (TK.)</th>
                        <th class="text-right" scope="col">Deviation</th>
                        <th class="text-right" scope="col">Percentage</th>
                    </tr>
                </thead>
                <tbody id="tDeptWiseRunningSummary" style="text-align:left">
                </tbody>
            </table>
        </div>
    </div>
</div>