@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card border-secondary mb-4">
        <div class="card-header">
            <b>Approver Modification</b>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="form-group required row">
                    <label class="col-sm-2 col-form-label-sm control-label">Approval For</label>
                    <div class="col-sm-4">
                        <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="ddlModules"></select>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group required row">
                    <label class="col-sm-2 col-form-label-sm control-label">Request No</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="requestNo" />
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group required row">
                    <label class="col-sm-2 col-form-label-sm control-label">Approver Name</label>
                    <div class="col-sm-4">
                        <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="employeeListforApprover"></select>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="form-group required row">
                    <label class="col-sm-2 col-form-label-sm control-label">Approver Role</label>
                    <div class="col-sm-4">
                        <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="ddlRole"></select>
                    </div>
                </div>
            </div>
            <button class="btn btn-md btn-primary" style="float:right" id="updateApproverRole" type="button">Update Role</button>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/alertify.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/AjaxCall/AdminSupport.js"></script>
    <script>
        $(document).ready(function() {
            getInitData();
        });
    </script>
}