@{
    ViewData["Title"] = "Completed Estimate Budget Status Board";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header">
        <label> Completed Budget Estimation Status Board</label>
        <a id="btnDownloadExcelReport" href="/ReportGenarator/CompletedEstimateReport" class="btn btn-info float-right">
            <span class="icon text-gray-100">
                <i class="fas fa-download"></i>
            </span>
        </a>
    </div>
    <div class="container-fluid">
        <fieldset>
            <div class="container-fluid">
                <form>
                    <br />
                    <div class="row">
                        <div class="col-md-1">
                            <label for="identificationId">Identification </label>
                        </div>
                        <div class="col-md-5">
                            <input type="search" class="form-control searchFilter" id="identificationId" placeholder="Search Identification" />
                        </div>
                        <div class="col-md-1">
                            <label for="subjectId">Subject</label>
                        </div>
                        <div class="col-md-5">

                            <input type="search" class="form-control searchFilter" id="subjectId" placeholder="Search Subject" />
                        </div>
                    </div>





                </form>
            </div>
        </fieldset>
    </div>
    <div class="card-body">
        <table style="font-weight: 400;" class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
            <thead class="thead-dark">
                <tr>
                    <th>Budget Detail</th>
                    <th>Creation Details</th>
                    <th>Status</th>
                    <th>Work Flow</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>

        $(document).ready(function () {
            loadDataForTable();

            $(".searchFilter").keyup(function () {
                loadDataForTable();
            });
        });

        function loadDataForTable() {
            var identificationId = (($('#identificationId').val()) ? $('#identificationId').val() : '');
            var subjectId = (($('#subjectId').val()) ? $('#subjectId').val() : '');

            $('#dataTable').dataTable({
                "ordering": false,
                destroy: true,
                "processing": true,
                searching: false,
                serverSide: true,
                ajax: {
                    url: "/StatusBoard/LoadCompletedEstimationParkeingData",
                    type: 'POST',
                    data: function (d) {
                        d.searchIdentity = identificationId;
                        d.searchSubject = subjectId;
                    }
                }
            });
        }

        $(document).on("click", "#btnReloadData", function () {
            location.reload();
        });
    </script>
}

