@page
@model AMS.Web.Pages.Admin.Particular.IndexModel
@{
    ViewData.SetMeta("Particular");
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">@ViewData["Title"] </h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-page="/Admin/Particular/Create" class="btn btn-primary">Create</a>

            <a id="btnReloadData" href="#" class="btn btn-primary float-right">
                <span class="icon text-white">
                    <i class="fas fa-sync"></i>
                </span>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped" style="width: 100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Particular Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tParticularListBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts  {

    <script type="text/javascript">

        $(document).ready(function () {
            var rowParticularListIdx = 0;
            getAllParticulars();

            function getAllParticulars() {
                $.ajax({
                    type: "GET",
                    url: "/Particular/GetParticulars",
                    data: "{}",
                    success: function (data) {
                        var particulars = data.particulars;
                        console.log(particulars)
                        for (var i = 0; i < particulars.length; i++) {
                            $('#tParticularListBody').append(
                                `<tr id="RowParticular${++rowParticularListIdx}">
                                    <td>
                                        <span># ${rowParticularListIdx}</span>
                                    </td>
                                    <td>
                                        <span id="nameParticularId${rowParticularListIdx}" style="color:chocolate">` + particulars[i].name + `</span>
                                    </td>
                                    <td>                                        
                                        <a href="/Admin/Particular/Edit?id=`+ particulars[i].id +`">Edit</a>       
                                    </td>
                                    <td>
                                        <a href="/Admin/Particular/Delete?id=`+ particulars[i].id + `">
                                            <i class="fas fa-remove" data-toggle="tooltip" data-placement="left" title="Delete"></i>Delete
                                        </a>
                                    </td>
                                </tr>`
                            );
                        }
                    }
                });
            }
        });

    </script>
}
