@model IEnumerable<AMS.Models.ServiceModels.BudgetEstimate.EstimateVM>
@{
    ViewData["Title"] = "Complete Budget List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header">
      
        
            <span class="">
                Complete Budget List
            </span>
        
        <a id="btnReloadData" href="#" class="btn btn-primary float-right">
            <span class="icon text-white">
                <i class="fas fa-sync"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="datatable">
            <div class="col-sm-12">
                <table class="table table-bordered table-hover table-striped dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>SL.</th>
                            <th>Estimate Type</th>
                            <th>Identity</th>
                            <th>Subject</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').dataTable({
                searchHighlight: true,
                order: [[0, "desc"]],
                serverSide: true,
                order: [[0, "desc"]],
                ajax: {
                    url: "/BudgetApprover/CompleteList",
                    type: 'POST',
                    data: function (d) {
                    }
                }
            });
        });

        $(document).on("click", "#btnReloadData", function () {
            location.reload();
        });
    </script>
}
