@model IEnumerable<AMS.Models.ServiceModels.BudgetEstimate.EstimateVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .dialog-ovelay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.50);
        z-index: 999999
    }

        .dialog-ovelay .dialog {
            width: 400px;
            margin: 100px auto 0;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,.2);
            border-radius: 3px;
            overflow: hidden
        }

            .dialog-ovelay .dialog header {
                padding: 10px 8px;
                background-color: #f6f7f9;
                border-bottom: 1px solid #e5e5e5
            }

                .dialog-ovelay .dialog header h3 {
                    font-size: 14px;
                    margin: 0;
                    color: #555;
                    display: inline-block
                }

                .dialog-ovelay .dialog header .fa-close {
                    float: right;
                    color: #c4c5c7;
                    cursor: pointer;
                    transition: all .5s ease;
                    padding: 0 2px;
                    border-radius: 1px
                }

                    .dialog-ovelay .dialog header .fa-close:hover {
                        color: #b9b9b9
                    }

                    .dialog-ovelay .dialog header .fa-close:active {
                        box-shadow: 0 0 5px #673AB7;
                        color: #a2a2a2
                    }

            .dialog-ovelay .dialog .dialog-msg {
                padding: 12px 10px
            }

                .dialog-ovelay .dialog .dialog-msg p {
                    margin: 0;
                    font-size: 15px;
                    color: #333
                }

            .dialog-ovelay .dialog footer {
                border-top: 1px solid #e5e5e5;
                padding: 8px 10px
            }

                .dialog-ovelay .dialog footer .controls {
                    direction: rtl
                }

                    .dialog-ovelay .dialog footer .controls .button {
                        padding: 5px 15px;
                        border-radius: 3px
                    }

    .button {
        cursor: pointer
    }

    .button-default {
        background-color: rgb(248, 248, 248);
        border: 1px solid rgba(204, 204, 204, 0.5);
        color: #5D5D5D;
    }

    .button-danger {
        background-color: #f44336;
        border: 1px solid #d32f2f;
        color: #f5f5f5
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header">
        <a id="btnReloadData" href="#" class="float-left">
            <span class="">
               Report Budget View 
            </span>
        </a>
        <a id="btnReloadData" href="#" class="btn btn-primary float-right">
            <span class="icon text-white">
                <i class="fas fa-sync"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="datatable">
            <div id="alertNotification"></div>
            <div class="col-sm-12">
                <table class="table table-bordered table-hover table-striped dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>SL.</th>
                            <th>Subject</th>
                            <th>Identifier</th>
                            <th>Estimate Type</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Price(tk.)</th>
                            <th>Created By</th>
                            <th>Action</th>
                            @*<th>Final Approver</th>*@
                        </tr>
                    </thead>
                    <tbody class="text-left">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--Approval Modal-->
    <div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approval</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="estimateIdentifer" class="col-form-label">Budget Estimate Identifier:</label>
                            <input type="text" class="form-control" id="estimateIdentifer">
                            <input type="hidden" id="hiddenEstimateId" />
                        </div>
                        <div class="form-group">
                            <label for="remarksTxt" class="col-form-label">Remarks:</label>
                            <textarea class="form-control" id="remarksTxt"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="approveButtonSubmit" class="btn btn-primary save">Save Approval</button>
                </div>
            </div>
        </div>
    </div>

    <!--Rollback Modal-->
    <div class="modal fade" id="remarksRBModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="estimateIdentiferForRollBack" class="col-form-label">Budget Estimate Identifier:</label>
                            <input type="text" class="form-control" id="estimateIdentiferForRollBack">
                            <input type="hidden" id="hiddenEstimateIdForRollBack" />
                        </div>
                        <div class="form-group">
                            <label for="remarksTxtForRollBack" class="col-form-label">Remarks:</label>
                            <textarea class="form-control" id="remarksTxtForRollBack"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="rollbackButtonSubmit" class="btn btn-primary save">RollBack Approval</button>
                </div>
            </div>
        </div>
    </div>

    <!--Reject Modal-->
    <div class="modal fade" id="remarksRejectModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rejection</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="estimateIdentiferForRollBack" class="col-form-label">Budget Estimate Identifier:</label>
                            <input type="text" class="form-control" id="estimateIdentiferForReject">
                            <input type="hidden" id="hiddenEstimateIdForReject" />
                        </div>
                        <div class="form-group">
                            <label for="remarksTxtForRollBack" class="col-form-label">Remarks:</label>
                            <textarea class="form-control" id="remarksTxtForReject"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="RejectButtonSubmit" class="btn btn-primary save">Reject Approval</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/jquery.blockUI.js"></script>
    <script>
        $(document).ready(function () {
            var pageSize = 10;

            $('#dataTable').dataTable({
                searchHighlight: true,
                order: [[0, "desc"]],
                ajax: {
                    url: "/BudgetApprover/LoadPendingBudgetForSpecificUser",
                    type: 'POST',
                    data: function (d) {
                    }
                }
            });

            $('#remarksModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                console.log(button);
                var uniqueIdentifier = button.data('uniqueidentifier')
                var Id = button.data('id')


                var modal = $(this)

                console.log(Id + " " + uniqueIdentifier)
                modal.find('.modal-body input').val(uniqueIdentifier);
                modal.find('.modal-body input[type=hidden]').val(Id);
                modal.find('.modal-body textarea').val("");

                $('.modal-body input').prop('disabled', true);
                $('.modal-body input').prop('disabled', true);
            })

            $('#remarksRBModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                console.log(button);
                var uniqueIdentifier = button.data('uniqueidentifier')
                var Id = button.data('id')


                var modal = $(this)

                console.log(Id + " " + uniqueIdentifier)
                modal.find('.modal-body input').val(uniqueIdentifier);
                modal.find('.modal-body input[type=hidden]').val(Id);
                modal.find('.modal-body textarea').val("");

                $('.modal-body input').prop('disabled', true);
                $('.modal-body input').prop('disabled', true);
            })

            $('#remarksRejectModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                console.log(button);
                var uniqueIdentifier = button.data('uniqueidentifier')
                var Id = button.data('id')


                var modal = $(this)

                console.log(Id + " " + uniqueIdentifier)
                modal.find('.modal-body input').val(uniqueIdentifier);
                modal.find('.modal-body input[type=hidden]').val(Id);
                modal.find('.modal-body textarea').val("");

                $('.modal-body input').prop('disabled', true);
                $('.modal-body input').prop('disabled', true);
            })

            $(document).on("click", "#btnReloadData", function () {
                location.reload();
            });

            $(document).on("click", "#approveButtonSubmit", function () {
                $('#approveButtonSubmit').attr('disabled', true);
                //Confirm('Approval Confirmation', 'Do you want to approve this approval?', 'Yes', 'Cancel', AJAXCallForApproval);
                AJAXCallForApproval();
            });

            $(document).on("click", "#rollbackButtonSubmit", function () {
                $('#rollbackButtonSubmit').attr('disabled', true);
                //Confirm('Approval RollBack Confirmation', 'Do you want to roll back this approval?', 'Yes', 'Cancel', AJAXCallForRollBack);
                AJAXCallForRollBack();
            });

            $(document).on("click", "#RejectButtonSubmit", function () {
                $('#RejectButtonSubmit').attr('disabled', true);
                //Confirm('Approval Rejection Confirmation', 'Do you want to reject this approval?', 'Yes', 'Cancel', AjaxCallForRejection);
                AjaxCallForRejection();
            });

            
        });

        var AJAXCallForApproval = function () {
            var remarks = $('#remarksTxt').val();
            var id = $('#hiddenEstimateId').val();

            console.log(id + " " + remarks);

            $('#remarksModal').modal('toggle');

            $.ajax({
                url: "/BudgetApprover/Edit",
                type: "POST",
                data: { id: id, feedback: '100', remarks: remarks },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: 'Processing..'
                    });
                },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        $.unblockUI();
                        DialogeWithRedirect('alert-success', 'SUCCESS', 'Approval request has been approved!');
                    }
                    else {
                        DialogeWithRedirect('alert-danger', 'Error', 'Something went wrong! please try again.');
                    }
                    $('#approveButtonSubmit').attr('disabled', false);
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data) {
                    $.unblockUI();
                }
            });
        }

        var AJAXCallForRollBack = function () {
            var remarks = $('#remarksTxtForRollBack').val();
            var id = $('#hiddenEstimateIdForRollBack').val();

            console.log(id + " " + remarks);
            $('#remarksRBModal').modal('toggle');

            $.ajax({
                url: "/BudgetApprover/Edit",
                type: "POST",
                data: { id: id, feedback: '-404', remarks: remarks },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1> Processing...</h1>'
                    });
                },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        $.unblockUI();
                        DialogeWithRedirect('alert-success', 'SUCCESS', 'Approval request has been rollbacked!');
                    }
                    else {
                        DialogeWithRedirect('alert-danger', 'Error', 'Something went wrong! please try again.');
                    }
                    $('#rollbackButtonSubmit').attr('disabled', false);
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data) {
                    $.unblockUI();
                }
            });
        }

        var AjaxCallForRejection = function () {
            var id = $('#hiddenEstimateIdForReject').val();
            var remarks = $('#remarksTxtForReject').val();

            console.log(id + " " + remarks);
            $('#remarksRejectModal').modal('toggle');

            $.ajax({
                url: "/BudgetApprover/Edit",
                type: "POST",
                data: { id: id, feedback: '-500', remarks: remarks },
                beforeSend: function () {
                    $.blockUI({
                        timeout: 0,
                        message: '<h1> Processing...</h1>'
                    });
                },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        $.unblockUI();
                        DialogeWithRedirect('alert-success', 'SUCCESS', 'Approval request has been Rejected!');
                    }
                    else {
                        DialogeWithRedirect('alert-danger', 'Error', 'Something went wrong! please try again.');
                    }
                    $('#RejectButtonSubmit').attr('disabled', false);
                },
                complete: function () {
                    $.unblockUI();
                },
                error: function (data) {
                    $.unblockUI();
                }
            });
        }

        function DialogeWithRedirect(alertClass, header, msg) { 
            var $content = '<div class="alert ' + alertClass + '" role="alert">'
                + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                + '<strong>' + header + '!</strong> <label>' + msg + '</label>'
                + '</div>';
            $("#alertNotification").empty()
            $('#alertNotification').append($content);

            var table = $('#dataTable').DataTable();
            table.ajax.reload();
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        }

       

        
    </script>
}
