@{
    ViewData["Title"] = "Ongoing Approval For Initiator";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header">

        <a id="btnReloadData" href="#" class="float-left">
            <span class="">
                Ongoin Budget Approval List
            </span>
        </a>
        <a id="btnReloadData" href="#" class="btn btn-primary float-right">
            <span class="icon text-white">
                <i class="fas fa-sync"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="datatable">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-hover dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>SL.</th>
                            <th>Estimate Type</th>
                            <th>Identity</th>
                            <th>Subject</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Price(tk.)</th>
                            <th>Initiator</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-left">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        function dataTableRender() {
            var pageSize = 10;

            $('#dataTable').dataTable({
                searchHighlight: true,

                order: [[0, "desc"]],
                ajax: {
                    url: "/BudgetEstimation/OngoinBudgetApprovalList",
                    type: 'POST',
                    data: function (d) {
                    }
                }
            });
        }

        $(document).ready(function () {
            dataTableRender();
        });

        $(document).on("click", "#btnReloadData", function () {
            dataTableRender();
        });
    </script>
}


